.endereco_card,
.cartao_card,
.add_card {
  background-color: var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease-in-out;
}

.endereco_card:hover,
.cartao_card:hover,
.add_card {
  background-color: var(--highlight);
  color: var(--secondary);
}

.endereco_card:active,
.cartao_card:active,
.add_card:hover {
  background-color: var(--white);
  color: var(--secondary);
}
