body {
  background-color: var(--secondary);
  /* background: linear-gradient(90deg, var(--secondary), var(--secondary-darker)); */
  color: #ffffff;

  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.label {
  color: var(--white);
  text-shadow: 0 0 4px #0000005f;
}

.btn {
  background-color: var(--primary);
  color: var(--secondary);
  border: 3px solid transparent;
  padding: 0px 16px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 200px;
  box-shadow: 0px 0px 4px #0000004f;
}

.btn:hover {
  background-color: var(--white);
  color: var(--secondary);
}

.btn-inverted {
  background-color: var(--secondary);
  color: var(--primary);
  border: 3px solid transparent;
}

.btn-inverted:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border: 3px solid transparent;
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline {
  background-color: var(--secondary);
  color: var(--primary);
  border: 3px solid var(--primary);
}

.btn-outline:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.btn-highlight {
  background-color: var(--highlight);
  color: var(--secondary);
  border: 3px solid var(--highlight);
}

.btn-highlight:hover {
  background-color: transparent;
  color: var(--highlight);
  border: 3px solid var(--highlight);
}

.btn-danger {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
}

.btn-danger:hover {
  background-color: transparent;
  color: var(--red);
}

.btn-green {
  background-color: var(--green);
  color: var(--secondary);
  border: 3px solid var(--green);
}

.btn-green:hover {
  background-color: transparent;
  color: var(--green);
  border-color: var(--green);
}

.btn-disabled {
  opacity: 0.6;
}

.checkbox-custom {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--secondary);
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.checkbox-custom:hover {
  border-color: var(--primary);
}

.checkbox-custom:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.checkbox-custom::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 0.15s ease-in-out;
  box-shadow: inset 1em 1em white;
  clip-path: polygon(14% 44%, 0 65%, 40% 100%, 100% 20%, 80% 0, 35% 55%);
}

.checkbox-custom:checked::before {
  transform: scale(1);
}

.card {
  background-color: var(--secondary);
  color: var(--white);
}

/* Estilo global do scroll (página inteira e qualquer elemento com overflow)  */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--white) var(--secondary); /* cor da barra / cor do track */
}

.bg-pink {
  background-color: magenta;
}

.col,
.row {
  padding: 0;
  margin: 0;
}

.dropdown .btn {
  background-color: var(--white);
  color: var(--secondary);
  border: 3px solid transparent;
}

.dropdown .btn:active {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

/* Cor de fundo do menu */
.dropdown-menu {
  background-color: #242424;
  border: none;
}

/* Estilo dos itens */
.dropdown-item {
  color: #f1f1f1;
}

/* Hover ativo */
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #4f4f4f;
  color: #fff;
}
