body {
  background-color: var(--secondary);
  color: #ffffff;

  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.label {
  color: var(--white);
  text-shadow: 0 0 4px #0000005f;
}

.btn {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0px 16px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 200px;
}

.btn:hover {
  background-color: var(--white);
  color: var(--secondary);
}

.btn-inverted {
  background-color: var(--secondary);
  color: var(--primary);
  border: 3px solid var(--primary);
}

.btn-inverted:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.btn-danger {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
}

.btn-danger:hover {
  background-color: transparent;
  color: var(--red);
}

/* Estilo global do scroll (página inteira e qualquer elemento com overflow)  */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--white) var(--secondary); /* cor da barra / cor do track */
}

.bg-pink {
  background-color: magenta;
}

.col,
.row {
  padding: 0;
  margin: 0;
}

.dropdown .btn {
  background-color: var(--white);
  color: var(--secondary);
  border: 3px solid transparent;
}

.dropdown .btn:active {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

/* Cor de fundo do menu */
.dropdown-menu {
  background-color: #242424;
  border: none;
}

/* Estilo dos itens */
.dropdown-item {
  color: #f1f1f1;
}

/* Hover ativo */
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #4f4f4f;
  color: #fff;
}
